@import '../../../../../assets/styles/variables';

.order-pizza-content {
  width: 400px;
  margin: auto;
}

.total-price {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.group-button {
  width: 400px;
  margin: auto;
}
