<div class="pizzas-content">
  <div class="order-pizza-content">
    <app-price-view *ngIf="(cart$ | async) as cart"
                    [totalPrice]="getTotalPrice(cart)"
                    [idName]="'orders'"
    ></app-price-view>
    <form [formGroup]="form">
      <input
        *fieldSet="formFields.name"
        formControlName="name"
        class="form-control"
      />
      <input
        *fieldSet="formFields.surname"
        formControlName="surname"
        class="form-control"
      />
      <input
        type="number"
        *fieldSet="formFields.mobile"
        formControlName="mobile"
        class="form-control"
      />
      <textarea
        *fieldSet="formFields.address"
        formControlName="address"
        class="form-control"
        rows="6"
      ></textarea>
    </form>
  </div>
  <div class="group-button">
    <button class="btn btn-primary" (click)="save()">
      Confirm Order
    </button>
    <button class="btn btn-secondary" (click)="cancel()">
      Cancel
    </button>
  </div>
</div>
