<div class="login-content col-md-4 ml-auto mr-auto">
  <form [formGroup]="registerForm">
    <input
      *fieldSet="formFields.email"
      formControlName="email"
      class="form-control"
    />
    <input
      *fieldSet="formFields.firstName"
      formControlName="firstName"
      class="form-control"
    />
    <input
      *fieldSet="formFields.lastName"
      formControlName="lastName"
      class="form-control"
    />
    <input
      type="password"
      *fieldSet="formFields.password"
      formControlName="password"
      class="form-control"
    />
    <input
      type="password"
      *fieldSet="formFields.confirmedPassword"
      formControlName="confirmedPassword"
      class="form-control"
    />
  </form>
  <div class="group-button">
    <button class="btn btn-primary" (click)="register()">Register</button>
  </div>
</div>
